<!-- Banner -->
<div class="banner d-flex flex-column justify-content-center align-items-center img-fluid">
  <h1 class="banner_title">
    Outils Anciens
  </h1>
  <% if current_user && current_user.admin %>
    <p>
      <%= link_to "Nouvel Article", new_article_path, class: "btn btn-danger" %>
    </p>
  <% elsif current_user.nil? %>
    <p>
      <%= link_to "Je m'inscris", new_user_session_path, class: "btn btn-danger" %>
    </p>
  <% else %>
    <p>
      <%= link_to "Tous les articles", articles_path, class: "btn btn-danger" %>
    </p>
  <% end %>
</div>

<!-- Articles flow -->
<div class="container-fluid article_flow">
  <h2 class="article_flow title text-center">
    Les derniers outils publiés
  </h2>
  <div class="row">
    <% if !@articles.empty? %>
      <% @articles.each do |article| %>
        <div class="col-xs-12 col-md-4" style="margin-top: 20px;">
          <div class="card mx-auto" style="width: 18rem;">
            <%= cl_image_tag(article.photo, class: "card-img-top", alt: "Card image cap") %>
            <div class="card-body">
              <h4 class="card-title">
                <%= article.title %>
              </h4>
              <h5 class="card-title">
                <%= article.profession %>
              </h5>
              <h6 class="card-title">
                <% date = article.created_at.to_s.first(16) %>
                Rédigé le <%= date %>
              </h6>
              <p class="card-text">
                <%= article.content.first(100) %>....
              </p>
              <%= link_to "Voir l'article", article_path(article), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
